<ion-header>
  <ion-toolbar color='primary' class="ion-text-center">
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      COVID-19 PITUMARCA
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header color='primary'>
      <ion-toolbar color='primary' class="ion-text-center">
        <ion-title>Iniciar Sesión</ion-title>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]='loginForm' (ngSubmit)='onLogin()'>
        <ion-item>
          <ion-label position='floating'>Email</ion-label>
          <ion-input type='email' formControlName='email' required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position='floating'>Password</ion-label>
          <ion-input type='password' formControlName='password' required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type='submit' expand='block'>Iniciar Sesión</ion-button>
          </ion-col>
        </ion-row>

      </form>

      <ion-row>
        <ion-col>
          <p><a routerLink='/register'>Registrarse </a></p>
        </ion-col>

        <ion-col>
          <p class="ion-text-end"><a routerLink='/forgot-password'>Olvidé mi Contraseña </a></p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>