ion-toggle {
  padding-top: 0px;
}

ion-card-header {
  padding-top: 0;
  padding-bottom: 0;
}

ngx-datatable {
  height: 100%;
  max-width: 800px;
  margin: auto;
}

ion-label {
  margin: 0;
}

.estado {
  margin-top: 15px;
  margin-left: -10px;
}
