<ion-header>
  <ion-toolbar>
    <ion-title>Síntoma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header color='primary'>
    <ion-toolbar color='primary' class="ion-text-center">
      <ion-title>SÍNTOMA</ion-title>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-searchbar placeholder='Ingrese valor a buscar:' type='text' (keyup)='filtrar($event)'></ion-searchbar>
      <ion-fab-button class="hidden-sm-up" type='button' slot='end' size='small' (click)='add()'>
        <ion-icon name='add'>
        </ion-icon>
      </ion-fab-button>

      <ion-button class="hidden-xs-down" type='button' slot='end' size='default' (click)='add()'>
        <ion-icon name='add'>
        </ion-icon>
        <ion-label> Agregar</ion-label>
      </ion-button>
    </ion-item>
    <ion-card *ngIf="show" class="content-details">
      <ion-card-content>
        <form [formGroup]='sintomaForm' (ngSubmit)='modify ? updateSintoma() : addSintoma()'>
          <ion-item>
            <ion-label position='stacked'>Ingrese nombre del Síntoma</ion-label>
            <ion-input clearInput maxlength='250' type='text' formControlName='NombreSintoma'></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position='stacked'>Tipo de Síntoma</ion-label>
            <ion-select placeholder="Seleccionar"  color='primary' formControlName='TipoSintoma'
            [selectedText]='sintomaForm.value.TipoSintoma'>
              <ion-select-option *ngFor='let ts of tiposSintoma' [value]='ts.NombreTipoSintoma'> {{ ts.NombreTipoSintoma}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position='stacked'>
              Medida
            </ion-label>
            <ion-input clearInput formControlName='Medida' maxlength='30' type='text'>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position='stacked'>Puntos</ion-label>
            <ion-input clearInput max='99' type='number' formControlName='Puntos'></ion-input>
          </ion-item>
          <ion-row>
            <ion-col *ngIf='!modify'>
              <ion-button type='submit' expand='block' [disabled]="!sintomaForm.valid">Guardar</ion-button>
            </ion-col>
            <ion-col *ngIf='modify'>
              <ion-button type='submit' expand='block' color='success'
                [disabled]="!sintomaForm.valid">Modificar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>

    </ion-card>

    <ngx-datatable class="material" [rows]="sintomas" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true">
      <ngx-datatable-column name='SÍNTOMA' prop="NombreSintoma" [width]='300'>
      </ngx-datatable-column>
      <ngx-datatable-column name='TIPO SÍNTOMA' prop="TipoSintoma" >
      </ngx-datatable-column>
      <ngx-datatable-column name='MEDIDA' prop='Medida'  [width]='80'> 
        <ng-template let-row='row' ngx-datatable-cell-template>
            {{ row.Medida? row.Medida : '-'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name='PUNTOS' prop="Puntos"  [width]='80'>
      </ngx-datatable-column>
      <ngx-datatable-column name='ACCIONES' [sortable]='false'>
        <ng-template let-row='row' ngx-datatable-cell-template>
          <ion-button (click)='mod(row)' size='small'  color='success'>
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button (click)='delSintoma(row)' size='small'  color='danger'>
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </ion-card-content>
</ion-content>